name: Image Processing CI
on: push # Pipeline must automatically run on every push 

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: pip install opencv-python-headless pytest numpy mediapipe

      - name: Run Tests
        run: pytest tests/

      - name: Run Image Processor
        run: python scripts/processor.py