name: Image Processing CI
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install Tools
        run: pip install opencv-python-headless pytest numpy mediapipe
      - name: Run Tests
        env:
          PYTHONPATH: . # This tells Python to look in the root folder for 'scripts'
        run: pytest tests/
      - name: Run Processor
        run: python scripts/processor.py
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: processed-images
          path: outputs/